<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
  </head>
  <body ng-app="firstModule">
    
    <div ng-controller="SimpleController">
      <input ng-model="nameFilter">
      <ul>
        <li ng-repeat="cust in customers | filter:nameFilter | orderBy:'city' ">{{ cust.name }} - {{ cust.city }}</li>
      </ul>
    </div>
    <script type="text/javascript">

      var mod = angular.module('firstModule', []);

      mod.controller('SimpleController', function ($scope) {
        $scope.customers = [
          {name: 'Joe Biden', city: 'Washington, DC'},
          {name: 'Jeroen Roosen', city: 'London, UK'},
          {name: 'Stefan Ritter', city: 'Wien, AUT'}
        ];
      });

    </script>
  </body>
</html>