.container
  .jumbotron
    h1 MEAN app
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tempus bibendum.

  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")